* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*common css*/
.btn {
  background-color: #469165;
  border: none;
  padding: 16px 16px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
}
/*header section*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
.menu a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

/* Basic Reset */

/* hero Section */
.hero-section {
  background: url(../assets/images/hero-bg.png);
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
}

.badge {
  background: #ffffff1a;
  border: 1px solid #ffffff66;
  padding: 6px 16px;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #4ade80;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0 0 10px #4ade80;
}

/* Heading */
.hero-section h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}

.highlight {
  color: #48bb78; /* Green color from image */
}

/* Paragraph */
.hero-section p {
  font-size: 18px;
  line-height: 1.6;
  color: #cbd5e0;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* btn */
.hero-btn {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: #48bb78;
  color: white;
}

.btn-primary:hover {
  background-color: #38a169;
}

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid #4a5568;
}

.btn-secondary:hover {
  background-color: #ffffff1a;
}
.right-icon {
  font-size: 12px;
  margin-left: 10px;
}
.play-icon {
  font-size: 12px;
  margin-right: 10px;
}
/* note section Styling */
.note {
  text-align: center;
  margin: 50px;
}
.note h1 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
}
.note p {
  color: #627382;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
}

.note-icon {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 50px;
}
.icon {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}
.icon h2 {
  font-weight: 600;
  font-size: 20px;
  color: #001931;
  padding-bottom: 15px;
}

.icon p {
  font-size: 16px;
  color: #627382;
}
/* Icon Wrapper Styling */
.icon-wrapper {
  width: 64px;
  height: 64px;
  background-color: #f95555;
  color: #fee2e2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 24px;
}
